{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        {% if post.author.id == user.id  %}
            <div class="post">
                <p class="date">created: {{ post.created_date|date:'d-m-Y' }}</p>
                <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                <p>{{ post.text|truncatechars:200 }}</p>
                <img src="{{ post.image.url}}" class="rounded featured-image-list" style="max-height:300px">
            </div>
        {%endif%}
    {% endfor %}
{% endblock %}