{% extends 'blog/base.html' %}

{% block content %}
  <h1>Я-все-о-тебе-знаю страница</h1>
  {% if current_user.profile_pic %}
      <img src="{{ current_user.profile_pic.url}}" class="rounded featured-image-list" height=100 width=100>
  {% else %}
      <p></p>
  {% endif %}
  <p>Имя пользователя: {{ current_user.username }}</p>
  <p>Email: {{ current_user.email }}</p>
  <p>О себе: {{ current_user.bio }}</p>
  <p>Дата рождения: {{ current_user.birth_date }}</p>
  <p>Город: {{ current_user.location }}</p>

    {% if user == current_user  %}
        <a href="{% url 'edit_profile' pk=current_user.id %}">Нажать, если я что-то не знаю</a>
    {% endif %}
{% endblock %}